// font-family: 'Cairo', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// colors
$bg-color: #f5e6ca;
$link-color: #f54748;
$heading-color: #fb9300;
$sub-heading-color: #343f56;

// group of properties
%flex-property {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// global style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: $bg-color;
}

// link stle
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: $link-color;
  transition: 0.5s;
  &:hover {
    color: $heading-color;
  }
}
//  font style
h1 {
  font-size: 4rem;
  font-weight: 900;
  color: $heading-color;
}
h2 {
  font-size: 2rem;
  font-weight: 500;
  color: $heading-color;
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: $heading-color;
}

// nav style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
nav {
  margin: 0.5rem 4rem;
  @extend %flex-property;
  .logo {
    font-size: 2rem;
    font-weight: 900;
    color: $link-color;
  }
  ul {
    @extend %flex-property;
    list-style: none;
    width: 25%;
  }
  .Contact {
    background-color: $heading-color;
    padding: 0.6rem;
    border-radius: 0.2rem 1rem;
    font-size: 1.5rem;
    color: $bg-color;
    &:hover {
      background-color: $link-color;
    }
  }
}

// hero section style >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.hero_section {
  margin: 3rem 4rem;
  @extend %flex-property;
  h1 {
    margin-bottom: 1rem;
    span {
      color: $link-color;
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
  a {
    font-size: 2rem;
    text-decoration: underline;
  }
  img {
    width: 500px;
  }
}

// making responsive

$small: 300px;
$medium: 900px;

@media screen and (max-width: $small) {
  nav {
    ul {
      display: none;
    }
  }
  .hero_section {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: $medium) {
  nav {
    ul {
      display: none;
    }
  }
  .hero_section {
    flex-direction: column;
    text-align: center;
  }
}
